# First we ignore everything to prevent these top-level dependencies from
# cluttering the repo:

*

# Then we exclude the files that need to be in the top-level:

!blatter.mp4
!README.md
!momentslogo.png
!.gitignore

# Stuff for the demo:

!demo/
!demo/*

# Now we finally exclude the component itself: 

!moments-video/
!moments-video/*
