:host {
  text-align: center;
  margin-left: 3px;
  margin-bottom: 3px;
}

:host video {
  margin-bottom: 20px;
}

:host .hidden {
  display: none;
}

:host .visible {
  display: block;
  transition: display .25s ease-in-out;
 -moz-transition: display .25s ease-in-out;
 -webkit-transition: display .25s ease-in-out;
}

:host .play {
  display:inline-block;
  position:relative;
  top:2px;
  left: -3px;
  width:20px;
  height:19px;
  padding:2px;
  vertical-align: text-bottom;
  background-color: #F0F0EB;
  border-radius:0%;
  background-image: url('play.png');
  background-repeat: no-repeat;
  background-position:7px 5px;
  cursor: pointer;
}

:host .darken {
  background-color:#969696;
}

:host .highlight {
  background-color:#F0F0EB;
  padding:2px 4px;
  cursor: pointer;
}
